.sidebar-section {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    padding-bottom: 0;
  }

  @media all and (max-width: 480px) {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.filtertitlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--blackcolor);
  color: #fff;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    margin: 0 auto;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    margin: 0 auto;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    margin: 0 auto;
  }

  @media all and (max-width: 480px) {
    margin: 0 auto;
  }
}

.filtertitle {
  font-size: 18px;
  text-align: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    font-size: 16px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    font-size: 15px;
  }

  @media all and (max-width: 480px) {
    font-size: 12px;
  }
}

.sidebar-filterbox {
  border: 0.8px solid var(--darkpurple);
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}

.sidebar-filtertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    font-size: 17px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    font-size: 15px;
  }

  @media all and (max-width: 480px) {
    font-size: 12px;
  }
}

.sketch {
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}

.sketch-pencil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  row-gap: 18px;
  justify-content: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;
    row-gap: 14px;
    justify-content: center;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    row-gap: 14px;
    justify-content: center;
  }

  @media all and (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
  }
}

.sketch-icon {
  background-color: var(--midpurple);
  color: #fff;
  height: 45px;
  width: 45px;
  padding: 8px;
  border-radius: 50%;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    height: 40px;
    width: 40px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 35px;
    width: 35px;
  }

  @media all and (max-width: 480px) {
    height: 35px;
    width: 35px;
  }
}

.iconbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}

.icontext {
  font-size: 10px;
  font-weight: bolder;
  text-transform: capitalize;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}
