.sidebar-section {
  border-right: 0.7px solid var(--blackcolor);
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 65vh;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    height: 95vh;
    border-right: 0.7px solid var(--blackcolor);
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    height: 155vh;
    border-right: 0.7px solid var(--blackcolor);
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 185vh;
    border-right: 0.7px solid var(--blackcolor);
    padding-bottom: 0;
  }

  @media all and (max-width: 480px) {
    height: 130vh;
    padding-top: 10px;
    border-right: 0.7px solid var(--blackcolor);
    padding-bottom: 0;
    /* justify-content: center;
    align-items: center; */
  }
}

.filtertitlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--blackcolor);
  color: #fff;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    margin: 0 auto;
  }

  @media all and (max-width: 480px) {
    margin: 0 auto;
  }
}

.filtertitle {
  font-size: 18px;
  text-align: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    font-size: 16px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    font-size: 15px;
  }

  @media all and (max-width: 480px) {
    font-size: 12px;
  }
}

.sidebar-filterbox {
  border: 1px solid var(--darkpurple);
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}

.sidebar-filtertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    font-size: 15px;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    font-size: 13px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    font-size: 15px;
  }

  @media all and (max-width: 480px) {
    font-size: 10px;
  }
}

.sketch {
  margin-left: 170px;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    margin-left: 10px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    margin-left: 110px;
  }

  @media all and (max-width: 480px) {
    margin-left: 100px;
  }
}

.sketch-pencil {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}

.sketch-icon {
  background-color: var(--purplecolor);
  color: #fff;
  height: 45px;
  width: 45px;
  padding: 8px;
  border-radius: 50%;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    height: 40px;
    width: 40px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 35px;
    width: 35px;
  }

  @media all and (max-width: 480px) {
    height: 35px;
    width: 35px;
  }
}
